rem($value)
  return unit(($value / 16), 'rem')

em($value)
  return unit(($value / 16), 'em')

grid()
  display flex
  margin-left $gutter-size * -1

grid-cell($size = 1)
  flex $size
  padding-left $gutter-size

breakpoint($size)
  @media screen and (min-width: lookup('$breakpoint_' + $size))
    {block}

size($width, $height = $width)
  height $height
  width $width
